05 Deep Learning/04_Data/Car_Brand_Logos.zip
05 Deep Learning/04_Data/f1.zip
05 Deep Learning/UT5-Proy_Ibáñez_Carlos/archive.zip
05 Deep Learning/UT5-Proy_Ibáñez_Carlos/images1.zip
06 Procesamiento Lenguaje Natural/reviews_data.txt.gz
06 Procesamiento Lenguaje Natural/SBW-vectors-300-min5.txt
